aside
  margin-left: 30px
  .&-item
    width: 300px
    padding: 1rem 1.2rem
    &-title
      font-size: .8rem
      span 
        margin-left: 10px

  #&-author
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    img
      height: 128px
      width: 128px
      border-radius: 70px
      transition: all .25s
      &:hover
        border-radius: 20px
        transform: scale(1.1)
    &-name
      font-size: 1.2rem
    &-description
      color: #666
    &-social
      color: #4c4948
    &-count
      display: flex
      width: 100%
      text-align: center
      a
        flex-grow: 1
        :first-child
          color:#4c4948
          font-size: .7rem
          letter-spacing: 1px
          text-transform: uppercase
        :last-child
          color: #000
          font-size: 1rem

  #&-aside-content
    text-indent: 2em


// ----------------------------


.card-tag-cloud a
  text-decoration: none
  position: relative
  padding-bottom: 0.3rem
  word-break: keep-all

  &::after
    position: absolute
    bottom: 0
    left: 0
    z-index: -1
    width: 0
    height: 3px
    background-color: lighten($theme-color, 30%)
    content: ""
    transition: all 0.3s ease-in-out

  &:hover
    color: $light-blue !important

    &::after
      width: 100%


.aside_category_item,.archive-list
  list-style: none
  margin-bottom: -3px
  margin-block-start: 0.2rem
  
.aside_category_item.child
  margin-bottom: -3px
  margin-block-start: 0rem

  .aside_category_list
    margin-left: -50px

.aside_category_list,.archive-list-item
  margin-left: -40px
  padding: 0.2rem 1rem

  &:hover
    background-color: $light-blue
    color: #363636
  a
    text-decoration: none
    color: #4c4948
  
.aside_category_list_name,.archive-list-link
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  flex: auto

.aside_category_list_link,.archive-list-item
  display: flex
  



.aside_category_list_length,.archive-list-count
  float: right 


.card-announcement-animation
  animation: announ_animation 1.5s infinite
  
.webinfo
  padding: 0.2rem 1rem

  .webinfo_item
    display: block
    padding: 4px 0 0

    .webinfo_article_name,
    .webinfo_runtime_name,
    .webinfo_site_uv_name,
    .webinfo_site_name
      display: inline-block
      
    .webinfo_article_count,
    .webinfo_runtime_count,
    .webinfo_site_uv_count,
    .webinfo_site_pv_count
      float: right
      display: inline-block


@keyframes announ_animation{
  0%,to{
    color: #4c4948
}
  50%{
    color: #FF0000
    }
    }


@media screen and (max-width: 900px) 
  .layout_page
    flex-direction: column
  
  #recent-posts,#aside_content
    width: 100% !important
  
  .card_widget
    margin-left: 0 !important



// -------------------

@media screen and (max-width: 1200px)
  aside
    display: none

