extends layout/layout.pug

block content
  #archive.card
    #archive-title= _p('page.articles') + ' - ' + site.posts.length
    #archive-content
      - let tmp
      each article in page.posts.data
        - let year = date(article.date, 'YYYY')
        if tmp !== year
          - tmp = year
          .archive-content-item.year= year
        .archive-content-item
          time= date(article.date)
          a(href=url_for(article.path))= article.title || 'No Title'
    include partial/pagination.pug
