main
  display: flex
  justify-content: center

.card
  margin: 30px 0
  border-radius: 10px
  background-color: #fff
  box-shadow: 0 4px 8px 6px rgba(7, 17, 27, .06)
  transition: all .3s
  overflow: hidden
  &:hover
    box-shadow: 0 4px 12px 12px rgba(7, 17, 27, .15)
