main
  display: flex
  justify-content: center
  min-height: calc(100vh - 25rem)
  padding: 1rem 0 7rem
  background: linear-gradient(90deg,rgba(247,149,51,.1) 0,rgba(243,112,85,.1) 15%,rgba(239,78,123,.1) 30%,rgba(161,102,171,.1) 44%,rgba(80,115,184,.1) 58%,rgba(16,152,173,.1) 72%,rgba(7,179,155,.1) 86%,rgba(109,186,130,.1) 100%)

.card
  margin: 30px 0
  border-radius: 10px
  background-color: #fff
  box-shadow: 0 4px 8px 6px rgba(7, 17, 27, .06)
  transition: all .3s
  overflow: hidden
  &:hover
    box-shadow: 0 4px 12px 12px rgba(7, 17, 27, .15)
