test()

header
  position: relative
  display: flex
  align-items: center
  background-color: $light-blue
  color: $light-grey
  #&-background
    width: 100vw
    height: 20rem
    img
      width: 100%
      height: 100%
      object-fit: cover
  // full background in home page
  #&-down + #&-background
    height: 100vh
  > canvas
    position: absolute

#header-info
  position: absolute
  z-index: 1
  width: 100%
  color: $light-grey
  text-align: center
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, .15)
  line-height: 1.5
  user-select: none

#header-title
  font-weight: bold
  font-size: 2rem

#header-subtitle
  font-size: 1.2rem

#header-social
  display: none
  color: $light-grey
  
.social-icon
  margin: 0 .5rem
  color: inherit
  font-size: 1rem
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, .15)
  cursor: pointer
  &:hover
    color: inherit
  i
    transition: all .05s
    &:hover
      transform: scale(1.3)

.meta-line
  .meta-item
    i
      margin-right: .2rem
    a
      color: inherit
      text-decoration: none
      transition: all .3s ease-out
      &:hover
        color: $light-blue
  .meta-separator
    margin: 0 .3rem

#header-down
  position: absolute
  bottom: 0
  z-index: 1
  width: 100%
  text-align: center
  cursor: pointer
  
  .fa-angle-down
    color: #fff
    font-size: 30px
    animation: pulse 1.5s infinite
    @keyframes pulse
      0%, to
        opacity: .4
        transform: translateY(0)
      50%
        opacity: 1
        transform: translateY(-16px)

@media screen and (max-width: $sm)
  #header-title
    font-size: 1.5rem

    .glitch
      font-size: 2rem

  #header-subtitle
    display: none

  #header-social
    display: block


.glitch
  position: relative
  display: inline-block
  font-size: 2.8rem
  letter-spacing: .15rem

  &:before,
  &:after
    position: absolute
    content: attr(data-text)
    width: 100%
    background: rgba(204, 57, 107, 0)
    clip: rect(0, 0, 0, 0)

  &:before
    left: -2px
    text-shadow: 5px 0 rgba(94, 38, 255, .5)
    animation: glitch-before 7s infinite linear alternate-reverse
    @keyframes glitch-before
      0%
        clip: rect(86px, 600px, 98px, 0)
      6.66667%
        clip: rect(62px, 600px, 92px, 0)
      13.33333%
        clip: rect(91px, 600px, 20px, 0)
      20%
        clip: rect(47px, 600px, 44px, 0)
      26.66667%
        clip: rect(1px, 600px, 77px, 0)
      33.33333%
        clip: rect(99px, 600px, 22px, 0)
      40%
        clip: rect(44px, 600px, 12px, 0)
      46.66667%
        clip: rect(71px, 600px, 65px, 0)
      53.33333%
        clip: rect(52px, 600px, 28px, 0)
      60%
        clip: rect(10px, 600px, 15px, 0)
      66.66667%
        clip: rect(75px, 600px, 69px, 0)
      73.33333%
        clip: rect(57px, 600px, 62px, 0)
      80%
        clip: rect(0, 0, 0, 0)
      100%
        clip: rect(0, 0, 0, 0)

  &:after
    left: 2px
    text-shadow: -5px 0 rgba(255, 51, 104, .5)
    animation: glitch-after 6s infinite linear alternate-reverse
    @keyframes glitch-after
      0%
        clip: rect(65px, 600px, 39px, 0)
      6.66667%
        clip: rect(19px, 600px, 21px, 0)
      13.33333%
        clip: rect(80px, 600px, 51px, 0)
      20%
        clip: rect(6px, 600px, 16px, 0)
      26.66667%
        clip: rect(31px, 600px, 95px, 0)
      33.33333%
        clip: rect(94px, 600px, 84px, 0)
      40%
        clip: rect(84px, 600px, 74px, 0)
      46.66667%
        clip: rect(97px, 600px, 55px, 0)
      53.33333%
        clip: rect(7px, 600px, 18px, 0)
      60%
        clip: rect(24px, 600px, 17px, 0)
      66.66667%
        clip: rect(28px, 600px, 97px, 0)
      73.33333%
        clip: rect(61px, 600px, 2px, 0)
      80%
        clip: rect(0, 0, 0, 0)
      100%
        clip: rect(0, 0, 0, 0)

.filter
  &:before
    position: absolute
    top: 0
    left: 0
    z-index: 1
    display: block
    content: ''
    width: 100%
    height: 100%
    opacity: 0.2
    background-color: #394245
    background-image: linear-gradient(234deg, #394245 0%, #000 100%)
